.gallery {
  .gallery-close-button {
    float: right;
    min-width: 16px;
    min-height: 16px;
    line-height: 16px;
  }

  .gallery-title-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .pt-icon, .pt-icon-large {
      margin: 0 5px 10px 0;
    }
  }
}
